<!DOCTYPE html>
<html>
<head>
    <title>Greenest areas in Bengaluru</title>
</head>
<body>
    <h1>Welcome</h1>
    <form action="/" method="POST">
        <input type="number" name="green_percentage" value={{ green_percentage or "50.0"  }} step="0.1" min="0.0" max="100">
        Multithreaded: <input type="checkbox" {{ "checked" if multithreaded }} name="multithreaded" value="Yes">
        <input type="submit" value="Submit">
    <form>

    {% if time_taken %}
    <p>Time taken to execute Map Reduce: <b>{{ time_taken }}</b> seconds<p>
    {% endif %}

    {% if outputs != None %}
    <table border>
        <tr>
            <th>Pincode</th>
            <th>Green Percentage</th>
        </tr>
        {% for row in outputs %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</body>
</html>
