<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greenery of Bengaluru</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>

</head>
<body>   
    <div class="homePage">
        <video autoplay muted loop id="myVideo">
            <source src="{{url_for('static',filename='assets/back.mp4')}}" type="video/mp4">
        </video>
        <div class="HeroPage">
            <div class="jumbotron jumbotron-fluid" style="padding-left: 5%;padding-right: 5%;">
                <div class="container">
                    <p class="font-italic" style="margin-bottom: 0px;text-align: center;">"To sit in the shade on a fine day and look upon verdure is the most perfect refreshment"</p>
                    <p class="font-italic" style="text-align: right;">- Jane Austen, "Mansfield Park"</p>
                    <p class="lead" style="margin-bottom: 0px;">Have you ever had an inner feeling, a desire to know about the expanse of greenery that our beautiful city encompasses?</p>
                    <p class="lead">If so, you have come to the right place.</p>
                    <p>We have collected over 5,38,000 satellite images of Bengaluru and using technologies like Geocoding and MapReduce, we present this pipeline which can find the greenest parts of Bengaluru.</p>
                    <a class="btn btn-primary btn-lg" href="{{url_for('mapRed')}}" onclick="showLoader(this)" role="button">Get Started</a>
                </div>
      <div class="container" style="margin: 50px 0px 0px 0px;">
          <p class="text-muted">Made by <span class="iconify" data-icon="ion-logo-github" data-inline="false"></span> <a href="https://github.com/NaikAayush/">Aayush</a>, <a href="https://github.com/Samyak2/">Samyak</a>, <a href="https://github.com/varunp2k/">Varun</a>, <a href="https://github.com/psiayn/">Pranav</a></p>
      </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        function showLoader(obj) {
            $('body').append('<div id="loading"><div class="loadingScreen"></div></div>');
        }
        showLoader("");
        $(window).on('load', function(){
            setTimeout(removeLoader, 100); //wait for page load PLUS two seconds.
        });
        function removeLoader(){
            $( "#loading" ).fadeOut(500, function() {
            // fadeOut complete. Remove the loading div
            $( "#loading" ).remove(); //makes page more lightweight 
        });
        }
    </script>
</body>
</html>
