<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    
</head>
<body>   
    <div class="homePage">
        <video autoplay muted loop id="myVideo">
            <source src="{{url_for('static',filename='assets/back.mp4')}}" type="video/mp4">
        </video>
        <div class="HeroPage">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">Welcome</h1>
                    <p class="lead"> Find out the greenery in Bengaluru with our latest Hadoop MapReduce pipeline.</p>
                    <p>We have collected over 5,38,000 satellite images of Bengaluru and using technologies like Geocoding and MapReduce, we present this pipeline which can find the greenest parts of Bengaluru.</p>
                    <a class="btn btn-primary btn-lg" href="{{url_for('mapRed')}}" onclick="showLoader(this)" role="button">Get Started</a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        function showLoader(obj) {
            $('body').append('<div id="loading"><div class="loadingScreen"></div></div>');
        }
        showLoader("");
        $(window).on('load', function(){
            setTimeout(removeLoader, 100); //wait for page load PLUS two seconds.
        });
        function removeLoader(){
            $( "#loading" ).fadeOut(500, function() {
            // fadeOut complete. Remove the loading div
            $( "#loading" ).remove(); //makes page more lightweight 
        });
        }
    </script>
</body>
</html>
