<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greenest areas in Bengaluru</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='css/mapred.css')}}">
    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
</head>
<body>
        <div class="container">
            <a class="btn btn-outline-primary" href="/" role="button" style="margin: 10px">Go Back</a>
        </div>
        <div class="container" style="text-align: center;max-width: 500px;font-size: large;">
        <h3 style="text-align: center;">Please slide the bar to adjust the threshold percentage</h3>
        <p style="text-align: center;">(Only those places with green cover more than the threshold will be shown)</p>
        <div class="container" style="text-align: center;">
            <form action={{ url_for("mapRed") }} method="POST" onsubmit="showLoading()">
                <input type="range" class="custom-range" id="customRange1" name="green_percentage" value={{ green_percentage or "50.0"  }} step="0.1" min="0.0" max="100">
                <div style="display: flex;">
                    <span id="printVal" style="position: relative; font-size: initial; bottom: 10px;">{{ (green_percentage or "50.0") + "%"  }}</span>
                </div>
                <input id="multithreaded" type="checkbox" {{ "checked" if multithreaded }} name="multithreaded" value="Yes" style="padding-left: 10%;" onclick="multiChanged(this)">
                <label for="multithreaded" style="margin-right: 20px;">Multithreaded</label>
                <input id="hadoop" type="checkbox" {{ "checked" if hadoop }} name="hadoop" value="Yes" style="padding-left: 10%;" onclick="hadoopChanged(this)">
                <label for="hadoop">Use Hadoop</label>
                <br>
                  <label for="groupby" style="margin-bottom: 0px;">Group By:</label>
                  <select class="form-control" name="groupby" id="groupby">
                      <option value="pincode" {{ "selected" if groupby and groupby=="pincode" }}>Pincode</option>
                      <option value="locality" {{ "selected" if groupby and groupby=="locality" }}>Locality</option>
                  </select>
                <br>
                <input type="submit" value="Submit" class="btn btn-primary">
            </form>
            {% if outputs != None %}
            <form action={{ url_for("maps") }} method="POST" onsubmit="showLoading()">
              <input type="submit" value="Click to Visualize" class="btn btn-primary">
            </form>
            {% endif %}
        </div>
        </div>
        <br>
        {% if time_taken %}
        <p style="text-align: center; margin-bottom: 0px; font-family: courier;">Time taken to execute Map Reduce: <b>{{ time_taken }}</b> seconds<p></p>
        {% endif %}

        {% if outputs != None %}

        <div class="container">
        <table border class="table table-responsive-sm table-sm table-dark table-hover table-striped">
            <tr>
                <th>Pincode</th>
                <th>Sub-district</th>
                <th>District</th>
                <th>Green Percentage</th>
            </tr>
            {% for row in outputs %}
            <tr>
                <!--<td rowspan={{ row[1] | length }}><a href="/maps/{{ row[0] }}">{{ row[0] }}</a></td>-->
                <td rowspan={{ row[1] | length }}>{{ row[0] }}</a></td>
                <td>{{ row[1][0][0] }}</td>
                <td>{{ row[1][0][1] }}</td>
                <td rowspan={{ row[1] | length }}>{{ row[2] }}</td>
            </tr>
                {% for locality in row[1][1:] %}
                <tr>
                <td>{{ locality[0] }}</td>
                <td>{{ locality[1] }}</td>
                </tr>
                {% endfor %}
            {% endfor %}
        </table>
        </div>
        {% endif %}

    <footer class="footer">
      <div class="container">
          <p class="text-muted">Made by <span class="iconify" data-icon="ion-logo-github" data-inline="false"></span> <a href="https://github.com/NaikAayush/">Aayush</a>, <a href="https://github.com/Samyak2/">Samyak</a>, <a href="https://github.com/varunp2k/">Varun</a>, <a href="https://github.com/psiayn/">Pranav</a></p>
      </div>
    </footer>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        $('#printVal').html($('#customRange1').val() + "%");
        $('#printVal').css("left", parseInt($('#customRange1').val()) - parseInt($('#customRange1').val())/20 + "%");
        $(document).on('input', '#customRange1', function() {
            if($(this).val!=NaN){
                $('#printVal').html( $(this).val() + "%" );
                $('#printVal').css("left", parseInt($(this).val()) - parseInt($(this).val())/20 + "%");
            }
            else{
                $('#printVal').html("50.0%");
                $('#printVal').css("left", "50%");
            }
        });
        $('body').append('<div id="loading"><div class="loadingScreen"></div></div>');
        $(window).on('load', function(){
            setTimeout(removeLoader, 100); //wait for page load PLUS 10 microseconds.
        });
        function removeLoader(){
            $( "#loading" ).fadeOut(500, function() {
            // fadeOut complete. Remove the loading div
            $( "#loading" ).remove(); //makes page more lightweight
        });
        }

        function showLoading(obj) {
            $('body').append('<div id="loading"><div class="loadingScreen"></div></div>');
        }

        function hadoopChanged(checkbox) {
            var multithreaded_checkbox = document.getElementById("multithreaded");
            var hadoop_checkbox = document.getElementById("hadoop");
            if (hadoop_checkbox.checked) {
                multithreaded_checkbox.disabled = true;
            }
            else {
                multithreaded_checkbox.disabled = false;
            }
        }
        function multiChanged(checkbox) {
            var multithreaded_checkbox = document.getElementById("multithreaded");
            var hadoop_checkbox = document.getElementById("hadoop");
            if (multithreaded_checkbox.checked) {
                hadoop_checkbox.disabled = true;
            }
            else {
                hadoop_checkbox.disabled = false;
            }
        }
    </script>
</body>
</html>
